<div>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Jaldi&display=swap');

        * {
            padding: 0;
            margin: 0;
            font-family: 'Jaldi', sans-serif;
        }

        table {
            width: 600px;
            border-collapse: collapse;
            margin: 0 auto;
        }

        .body {
            background-color: white;
            text-align: justify;
            padding: 0px 50px 0px 50px;
        }

        .img-banner {
            width: 100%;
            padding: 0;
            display: block;
        }

        .box-info {
            text-decoration: none;
            border-radius: 5px;
            padding: 11px 23px;
            color: black;
            background-color: lightgrey;
            font-size: 30px;
        }

        .center {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }

        .paragraph {
            padding: 0 0 20px 0;
        }

        .light {
            color: beige;
        }

        .dark {
            color: black;
        }

        .danger {
            color: red;
        }
    </style>
    <table>
        <tr>
            <td>
                <a href="https://imgbb.com/">
                    <img class="img-banner" src="https://i.ibb.co/pfCJfns/header.png" alt="header">
                </a>
            </td>
        </tr>
        <tr>
            <td class="body">
                <h2 class="dark">CORREO UNICO</h2>
                <p class="paragraph dark">
                    Cordial saludo {{firts_name}} {{last_name}}. <br>
                    Ha sido registrado con exito en la plataforma ClinDesign de la Universidad del Cauca. <br>
                    Puede ingresar con el correo {{correo}} y la siguiente contraseña:
                </p>
                <div class="center">
                    <div class="box-info">{{password}}</div>
                </div>
                <p class="paragraph dark">
                    Para ingresar al sistema de click <a href="{{url_page}}">aquí</a>. <br>
                    Solicite una nueva contraseña dando click <a href="{{url_recovery}}">aquí</a>.
                </p>
                <p class="paragraph danger">                    
                    Se recomienda modificar la contraseña por defecto por una más segura y facil de recordar.
                </p>
                <p class="paragraph dark">
                    Recuerde por seguridad no compartir su contraseña a ningun tercero. <br>
                    Proyecto Ingenieria de Sistemas Unicauca.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://imgbb.com/">
                    <img class="img-banner" src="https://i.ibb.co/jfxKt3x/footer.png" alt="footer">
                </a>
            </td>
        </tr>
    </table>
</div>  