<div>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Jaldi&display=swap');

        * {
            padding: 0;
            margin: 0;
            font-family: 'Jaldi', sans-serif;
        }

        table {
            width: 600px;
            border-collapse: collapse;
            margin: 0 auto;
        }

        .body {
            background-color: white;
            text-align: justify;
            padding: 0px 50px 0px 50px;
        }

        .img-banner {
            width: 100%;
            padding: 0;
            display: block;
        }

        .box-info {
            text-decoration: none;
            border-radius: 5px;
            padding: 11px 23px;
            color: black;
            background-color: lightgrey;
            font-size: 30px;
        }

        .center {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }

        .paragraph {
            padding: 0 0 20px 0;
        }

        .light {
            color: beige;
        }

        .dark {
            color: black;
        }

        .danger {
            color: red;
        }
    </style>
    <table>
        <tr>
            <td>
                <a href="https://imgbb.com/">
                    <img style="width: 100%;padding: 0;display: block;" src="https://i.ibb.co/pfCJfns/header.png" alt="header">
                </a>
            </td>
        </tr>
        <tr>
            <td style="background-color: white;text-align: justify;padding: 0px 50px 0px 50px;">
                <h2 style="color: black;">CORREO UNICO</h2>
                <p style="padding: 0 0 20px 0; color: black;">
                    Cordial saludo {{first_name}} {{last_name}}. <br>
                    Ha sido registrado con exito en la plataforma ClinDesign de la Universidad del Cauca. <br>
                    Puede ingresar con el correo {{email}} y la siguiente contraseña:
                </p>
                <div style="padding-bottom: 20px;margin: 0 auto;width: max-content;">
                    <div style="text-decoration: none;
                    border-radius: 5px;
                    padding: 10px 20px 10px 20px;
                    color: black;
                    background-color: lightgrey;
                    font-size: 30px;
                    text-align: center;">{{password}}</div>
                </div>
                <p style="padding: 0 0 20px 0; color: black;">
                    Para ingresar al sistema de click <a href="{{url_page}}">aquí</a>. <br>
                    Solicite una nueva contraseña dando click <a href="{{url_recovery}}">aquí</a>.
                </p>
                <p style="padding: 0 0 20px 0; color: black;">
                    Se recomienda modificar la contraseña por defecto por una más segura y facil de recordar.
                </p>
                <p style="padding: 0 0 20px 0; color: black;">
                    Recuerde por seguridad no compartir su contraseña a ningun tercero. <br>
                    Proyecto Ingenieria de Sistemas Unicauca.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://imgbb.com/">
                    <img style="width: 100%;
                    padding: 0;
                    display: block;" src="https://i.ibb.co/jfxKt3x/footer.png" alt="footer">
                </a>
            </td>
        </tr>
    </table>
</div>