<table style="max-width: 600px; padding: 0px; margin:0 auto; border-collapse: collapse;">
    <tr>
        <td style="padding: 0">
            <a href="https://imgbb.com/"><img style="min-width:100% ;padding: 0; display: block"
                    src="https://i.ibb.co/LzSNw1d/header.png" alt="header"></a>
        </td>
    </tr>

    <tr>
        <td style="background-color:#19467f; padding-bottom:50px;">
            <div style="color: bisque; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
                <h2 style="color: blanchedalmond; margin: 0 0 7px">CORREO UNICO</h2>
                <p style="margin: 2px; font-size: 15px">
                    Cordial saludo {{firts_name}} {{last_name}}.<br><br>
                    Ha sido registrador con exito en la plataforma Clinapsis de Unicauca.<br><br>
                    Su contraseña es la siguiente:<br>
                    <div style="display: flex; justify-content: center">
                        <div
                            style="margin-top:15px; width: 33.33%; text-align: center; padding-top:25px;border-radius: 5px; padding: 11px 23px; color: darkslategray; background-color: white">
                            {{password}}
                        </div>
                    </div>

                    <br>
                    <p style="margin: 2px; font-size: 15px"> Se recomienda modificar la contraseña por defecto por una más segura y facil de recordar.</p>
                    <p style="color: #b3b3b3; font-size: 12px;">
                        Recuerde por seguridad no compartir su contraseña a ningun tercero.
                    </p>
                    <p style="color: #b3b3b3; font-size: 12px;">Proyecto Ingenieria de Sistemas Unicauca.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 0">
            <a href="https://imgbb.com/"><img style="min-width:100% ;padding: 0; display: block"
                    src="https://i.ibb.co/7nkTTM4/footer.png" alt="footer"></a>
        </td>
    </tr>
</table>