<div>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Jaldi&display=swap');

        * {
            padding: 0;
            margin: 0;
            font-family: 'Jaldi', sans-serif;
        }

        table {
            width: 600px;
            border-collapse: collapse;
            margin: 0 auto;
        }

        .body {
            background-color: white;
            text-align: justify;
            padding: 0px 50px 0px 50px;
        }

        .img-banner {
            width: 100%;
            padding: 0;
            display: block;
        }

        .button-link {
            text-decoration: none; 
            border-radius: 5px; 
            padding: 11px 23px; 
            color: white; 
            background-color: #3498db;
            font-size: 20px;
        }

        .center {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }

        .paragraph {
            padding: 0 0 20px 0;
        }

        .light {
            color: beige;
        }

        .dark {
            color: black;
        }
    </style>
    <table>
        <tr>
            <td>
                <a href="https://imgbb.com/">
                    <img style="width: 100%;
                    padding: 0;
                    display: block;" src="https://i.ibb.co/pfCJfns/header.png" alt="header">
                </a>
            </td>
        </tr>
        <tr>
            <td style="background-color: white;
            text-align: justify;
            padding: 0px 50px 0px 50px;">
                <h2 style="color: black;">CORREO UNICO</h2>
                <p style="padding: 0 0 20px 0; color: black;">
                    Cordial saludo {{firts_name}} {{last_name}}. <br> 
                    La plataforma ClinDesign le ofrece el servicio de recuperación de contraseña. De click sobre el siguiente boton.
                </p>
                <div style="display: flex;
                padding-bottom: 20px;
                justify-content: center;">
                    <a style="text-decoration: none; 
                    border-radius: 5px; 
                    padding: 11px 23px; 
                    color: white; 
                    background-color: #3498db;
                    font-size: 20px;" href="{{url_recovery}}">Recuperar contraseña</a>
                </div>
                <p style="padding: 0 0 20px 0; color: black;">
                        Para ingresar al sistema de click <a href="{{url_page}}">aquí</a>. <br>
                    </p>
                <p style="padding: 0 0 20px 0; color: black;">
                    Recuerde por seguridad no compartir su contraseña a ningun tercero. <br>
                    Proyecto Ingenieria de Sistemas Unicauca.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://imgbb.com/">
                    <img style="width: 100%;
                    padding: 0;
                    display: block;" src="https://i.ibb.co/jfxKt3x/footer.png" alt="footer">
                </a>
            </td>
        </tr>
    </table>
</div>